<header>

  <h2>{{site.title}}</h2>
  <hr>

      <nav>

          <a href="/">Home</a>
          &nbsp
          <a href="/binary">Binary Exploitation</a>
          &nbsp
          <a href="/web">Web</a>
          &nbsp
          <a href="/ctf">CTF Writeup</a>
          &nbsp
          <a href="/machines">Machines</a>
          &nbsp
          <a href="/about">About Me</a>
          &nbsp
          <a href="/contact">Contact</a>
          &nbsp

          <form class="classform" style="display:inline !important;" action="{{ site.baseurl }}/search.html" method="get">
            <label for="search-box">Search</label>
            <input placeholder="Search here"  class="inputform" type="text" id="search-box" name="query">
          </form>


      </nav>

    <hr>
</header>
